* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.new-form {
    display: grid;
    place-content: center;
    min-height: 100vh;
   }

form {
    display: grid;
    border: 3px solid black;
    padding: 25px;
    width: 350px;
    margin: 30px;
    grid-gap: 10px;
    font-family: sans-serif;
    height:fit-content
 }
 
 .title{
    text-align: center;
 }

 label{
    display:grid;
    padding-bottom: 5px;
    font-size:x-small;
    font-family: sans-serif;
}
.checkbox{
    display: inline;
} 

input,
select,
textarea{
   border: none;
}

select{
    width: 100%;
}

textarea{
    width: 100%;
    height: fit-content;
}

.label-message{
display: grid;
padding-top: 5px;
}

button{
    display: grid;
    width:100%;
    height:25px;
    border-radius: 10px;
    border:none;
}