* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.new-form {
    display: grid;
    place-content: center;
    min-height: 100vh;
   }

form {
    display: grid;
    border: 3px solid black;
    padding: 25px;
    width: 350px;
    margin: 25px;
    grid-gap: 10px;
    font-family: sans-serif;
    height:fit-content;
 }
 
 .title{
    text-align: center;
    background: -webkit-linear-gradient( rgb(88, 150, 221), rgb(214, 87, 197));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
   

 label{
    display:grid;
    padding-bottom: 10px;
    font-size:x-small;
    font-family: sans-serif;
}
.checkbox{
    display: inline;
} 

hr{
    border-top: 1px solid rgb(214, 87, 197);
}

input,
select,
textarea{
   border: none;
}

select{
    width: 100%;
}

textarea{
    width: 100%;
    height: fit-content;
}

.label-message{
display: grid;
padding-top: 5px;
}

button{
    display: grid;
    width:100%;
    color: aliceblue;
    height:25px;
    border-radius: 10px;
    border:none;
    padding-top: 5px;
    background-image: linear-gradient(to left, rgb(88, 150, 221), rgb(214, 87, 197));
}